root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;
  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bg);
}
header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: space-evenly;
  background: var(--bg);
}
.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}
.header-logo img {
  float: left;
  height: 75px;
  width: 75px;
  /* justify-content: start; */
}
.navbar ul {
  display: flex;
  flex-direction: row;
  /* list-style: none; */
  gap: 2rem;
  float: left;
  padding: 20px 0px;

  justify-content: center;
}
ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 1rem;
}
.icon-box i {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  float: left;
  justify-content: center;
  margin-top: 30px;
  margin-left: 70px;
  height: 2rem;
  width: 2rem;
}
